@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .centro{
    @apply flex justify-center items-center w-screen h-screen;
  }

  .header-layout{
    @apply centro;
  }
}

body{
  background-color: black;
}

.foto {
  width: 200px; /* Tamanho inicial da foto */
  height: 150px;
  transition: transform 0.3s; /* Adiciona uma transição suave */
}

.foto:hover {
  transform: scale(1.2); /* Aumenta o tamanho da foto em 20% no hover */
}

